.exam-body{
    font-family: "Verdana", cursive, sans-serif;
    color: #ffffff;
    
    background-color: #7cc6fe;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.exam-app {
    background-color: #252d4a;
    width: 450px;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
  }

.score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



/* QUESTION/TIMER/LEFT SECTION */
.question-section {
    width: 100%;
}

.question-count {
    margin-bottom: 20px;    
}

.question-count span {
font-size: 28px;
text-align: center;
}

.question-text {
margin-bottom: 12px;
text-align: center;
}

.timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.exam-button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
    margin-bottom: 6px;
  }
  

.correct {
    background-color: #2f922f;
}
  
.incorrect {
    background-color: #ff3333;
}

.exam-button:hover {
    background-color: #555e7d;
  }
  
  .exam-button:focus {
    outline: none;
  }
  
  .exam-button .exam-svg {
    margin-right: 5px;
  }